<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>childAge</key>
		<integer>12</integer>
		<key>childID</key>
		<integer>1</integer>
		<key>childName</key>
		<string>王哲一</string>
		<key>gender</key>
		<string>男</string>
		<key>parentsMobile</key>
		<string>15158902211</string>
		<key>love</key>
		<string>画画</string>
	</dict>
	<dict>
		<key>childAge</key>
		<integer>9</integer>
		<key>childID</key>
		<integer>2</integer>
		<key>childName</key>
		<string>李赋</string>
		<key>gender</key>
		<string>男</string>
		<key>parentsMobile</key>
		<string>13201098973</string>
		<key>love</key>
		<string>游泳</string>
	</dict>
	<dict>
		<key>childAge</key>
		<integer>11</integer>
		<key>childID</key>
		<integer>3</integer>
		<key>childName</key>
		<string>李潇潇</string>
		<key>gender</key>
		<string>女</string>
		<key>parentsMobile</key>
		<string>15920195782</string>
		<key>love</key>
		<string>旱冰</string>
	</dict>
	<dict>
		<key>childAge</key>
		<integer>6</integer>
		<key>childID</key>
		<integer>4</integer>
		<key>childName</key>
		<string>张秋涵</string>
		<key>gender</key>
		<string>女</string>
		<key>parentsMobile</key>
		<string>18359093311</string>
		<key>love</key>
		<string>画画</string>
	</dict>
	<dict>
		<key>childAge</key>
		<integer>15</integer>
		<key>childID</key>
		<integer>5</integer>
		<key>childName</key>
		<string>王小波</string>
		<key>gender</key>
		<string>男</string>
		<key>parentsMobile</key>
		<string>15153779001</string>
		<key>love</key>
		<string>唱歌</string>
	</dict>
	<dict>
		<key>childAge</key>
		<integer>15</integer>
		<key>childID</key>
		<integer>6</integer>
		<key>childName</key>
		<string>刘佳</string>
		<key>gender</key>
		<string>女</string>
		<key>parentsMobile</key>
		<string>13559093211</string>
		<key>love</key>
		<string>舞蹈</string>
	</dict>
	<dict>
		<key>childAge</key>
		<integer>5</integer>
		<key>childID</key>
		<integer>7</integer>
		<key>childName</key>
		<string>王思慧</string>
		<key>gender</key>
		<string>女</string>
		<key>parentsMobile</key>
		<string>131796992331</string>
		<key>love</key>
		<string>舞蹈</string>
	</dict>
	<dict>
		<key>childAge</key>
		<integer>10</integer>
		<key>childID</key>
		<integer>8</integer>
		<key>childName</key>
		<string>许坤</string>
		<key>gender</key>
		<string>男</string>
		<key>parentsMobile</key>
		<string>15122093210</string>
		<key>love</key>
		<string>游泳</string>
	</dict>
	<dict>
		<key>childAge</key>
		<integer>13</integer>
		<key>childID</key>
		<integer>9</integer>
		<key>childName</key>
		<string>张晓丽</string>
		<key>gender</key>
		<string>女</string>
		<key>parentsMobile</key>
		<string>18355093532</string>
		<key>love</key>
		<string>弹钢琴</string>
	</dict>
	<dict>
		<key>childAge</key>
		<integer>16</integer>
		<key>childID</key>
		<integer>10</integer>
		<key>childName</key>
		<string>陈晨</string>
		<key>gender</key>
		<string>男</string>
		<key>parentsMobile</key>
		<string>18811361770</string>
		<key>love</key>
		<string>上网</string>
	</dict>
</array>
</plist>
